[user]
	name = Andrey Arzamaskov
	email = arzamaskov@gmail.com
	signingkey = B5B841D20F67EE251A60ED38CD722010EE816835

[core]
	editor = nvim
	autocrlf = false
	excludesfile = ~/.config/git/ignore
	quotePath = false

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	format = openpgp
	program = gpg

[push]
	autoSetupRemote = true

[rerere]
	enabled = true

[alias]
	hist = log --oneline --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
